{% extends "tracker/base.html" %}

{% load i18n %}
{% load static %}
{% load cache %}
{% load mathfilters %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h1><a href="{% url "issues-list" %}">{% trans "Issues" %}</a>
                - {{ object.name }}</h1>
            </div>

            <div class="panel-body">
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td style="width: 25%">{% trans "Name" %}</td>
                        <td style="width: 75%">{% if perms.tracker.change_issue and object.state != "don" %}
                            <a href="#" id="name" data-type="text" data-pk="1" data-emptytext="{% trans "Empty" %}"
                               data-url="{% url "issue-edit" object.pk %}" data-name="name"
                               data-title="{% trans "Enter name" %}">{{ object.name }}</a>{% else %}
                            {{ object.name }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td style="width: 25%">{% trans "Created by" %}</td>
                        <td style="width: 75%">{{ object.created_by }}</td>
                    </tr>
                    <tr>
                        <td style="width: 25%">{% trans "Solver" %}</td>
                        <td style="width: 75%">
                            {% if perms.tracker.change_issue and object.state != "don" %}{% if object.solver == None %}
                                <select id="ajax-select" class="selectpicker with-ajax"
                                        data-live-search="true"></select>
                                <button id="ajax-add" type="button" class="btn btn-primary btn-sm adder-buttons"><i
                                        class="glyphicon glyphicon-ok"></i></button>
                                <button id="ajax-clear" type="button" class="btn btn-danger btn-sm adder-buttons"><i
                                        class="glyphicon glyphicon-trash"></i></button>
                            {% else %}
                                {{ object.solver|default_if_none:"" }}
                                <a href="{% url "issue-unassign" object.pk %}" class="btn btn-danger btn-sm"><i
                                        class="glyphicon glyphicon-trash"></i></a>
                            {% endif %}
                            {% else %}
                                {{ object.solver|default_if_none:"" }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td style="width: 25%">{% trans "Category" %}</td>
                        <td style="width: 75%">{% if perms.tracker.change_issue and object.state != "don" %}
                            <a href="#" id="category" data-type="select" data-pk="1"
                               data-url="{% url "issue-edit" object.pk %}"
                               data-emptytext="{% trans "Empty" %}"
                               data-title="{% trans "Select category" %}"
                               data-name="category"></a>{% else %}
                            {{ object.category|default_if_none:"" }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td style="width: 25%">{% trans "State" %}</td>
                        <td style="width: 75%">{{ object.get_state_display }}</td>
                    </tr>
                    </tbody>
                </table>
                <p>{% if perms.tracker.change_issue and object.state != "don" %}
                    <a href="#" id="description" data-type="textarea" data-pk="1" data-rows=10
                       data-emptytext="{% trans "Empty" %}"
                       data-url="{% url "issue-edit" object.pk %}" data-name="description"
                       data-title="{% trans "Enter name" %}">{{ object.description }}</a>
                {% else %}{{ object.description }}{% endif %}</p>

                {% if perms.tracker.change_issue %}
                    <a href="{% url "issue-delete" object.pk %}"
                       class="btn btn-danger"><i
                            class="glyphicon glyphicon-trash"></i> {% trans "Delete issue" %}</a>{% endif %}
                {% if object.state == "ass" or object.state == "cre" %}
                    {% if perms.tracker.change_issue or request.user == object.solver %}
                        <a href="{% url "issue-done" object.pk %}"
                           class="btn btn-primary"><i
                                class="glyphicon glyphicon-ok"></i> {% trans "Mark as done" %}</a>{% endif %}{% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $("#name").editable();
        $("#description").editable();
        $('#category').editable({
            {% if object.category %}value: {{ object.category_id }},{% endif %}
            source: [
                {% for category in categories %}
                    {value: {{ category.0 }}, text: '{{ category.1 }}'},
                {% endfor %}
            ]
        });
        let options = {
            ajax: {
                url: "/users",
                type: 'POST',
                dataType: 'json',
                // Use {% verbatim %}"{{{q}}}"{% endverbatim %} as a placeholder and Ajax Bootstrap Select will
                // automatically replace it with the value of the search query.
                data: {
                    q: '{% verbatim %}{{{q}}}{% endverbatim %}'
                }
            },
            langCode: LANGUAGE_CODE,
            log: 3,
            preprocessData: function (data) {
                let i, l = data.length, array = [];
                if (l) {
                    for (i = 0; i < l; i++) {
                        array.push($.extend(true, data[i], {
                            text: data[i].Name,
                            value: data[i].ID,
                            data: {
                                subtext: data[i].Username
                            }
                        }));
                    }
                }
                return array;
            }
        };

        $('.selectpicker').selectpicker().filter('.with-ajax').ajaxSelectPicker(options);
        $(document).on('click', '#ajax-clear', function () {
            $("#ajax-select").val('').trigger('change');
        });

        $(document).on('click', '#ajax-add', function () {
            $.post("{% url "issue-edit" object.pk %}", {
                "name": "solver",
                "value": $("#ajax-select").val()
            }).done(function (data) {
                location.reload();
            });
        });


    </script>
{% endblock %}
